body {
  font-family: sans-serif;
}

.column1of3, .column2of3, .column3of3 {
  width: 300px;
  float: left;
  margin: 10px;
}

.home-image {
  background-image: url("CheeseburgerWithFries.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
