body {
  background-color: white;
  color: #368080;
  font-family: Helvetica;
  font-size: 16px;
}

h1 {
  font-family: Arial;
  color: #8FC1C1;
  font-size: 32px;
}

h3 {
  font-family: Verdana;
  color: #579797;
  font-size: 18px;
}

.column1of3, .column2of3, .column3of3 {
  width: 300px;
  float: left;
  margin: 10px;
}

@media (min-width: 320px) {
  body {
    background-color: white;
    color: #368080;
    font-family: Helvetica;
    font-size: 16px;
  }
  h1 {
    font-family: Arial;
    color: #8FC1C1;
    font-size: 32px;
  }
  h3 {
    font-family: Verdana;
    color: #579797;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  body {
    background-color: white;
    color: #368080;
    font-family: Helvetica;
    font-size: 16px;
  }
  h1 {
    font-family: Arial;
    color: #8FC1C1;
    font-size: 32px;
  }
  h3 {
    font-family: Verdana;
    color: #579797;
    font-size: 18px;
  }
}
